.contato {
    background: var(--branco);
    padding: 1em;
}
.contato__titulo, .contato__texto {
    color: blue;

}
.contato__titulo {
    font-size: 18px;
    font-weight: 500;
}
.contato__texto {
    font-weight: 300;
    margin: 1em 0;
}
.contato__email {
    border: 1px solid var(--azul-de);
    border-radius: 24px;
    padding: 1em;
    width: 90%;
    color: blue;
}
.contato__email::placeholder {
    color: var(--azul-de);
    background: url(../img/Email.svg) no-repeat;
    padding-left: 2em;
}
@media screen and (min-width: 1024px) {
    .contato {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contato__titulo {
        font-size: 24px;
    }
    .contato__email {
        width: 30%;
    }
    .contato__descrição {
        margin: 1em;
        width: 30%;
    }
    
}